{% case block.type %}

        {% when 'heading' %}
          <h1 class="ai-advertorial-heading" style="font-size:{{ block.settings.heading_size }}px; color:{{ block.settings.heading_color }};">
            {% assign heading_parts = block.settings.heading | split: block.settings.highlight_text %}
            {% if heading_parts.size > 1 %}
              {{ heading_parts[0] }}<span class="ai-advertorial-heading-highlight" style="color:{{ block.settings.heading_highlight_color }};">{{ block.settings.highlight_text }}</span>{{ heading_parts[1] }}
            {% else %}
              {{ block.settings.heading }}
            {% endif %}
          </h1>

 

  {% when 'subtitle' %}
    {% if block.settings.text != blank %}
      <div class="ai-before-after-article__description-{{ ai_gen_id }}">
        {{ block.settings.text }}
      </div>
    {% endif %}

  {% when 'image' %}
    {% if block.settings.image %}
      <div class="ai-before-after-article__image-container-{{ ai_gen_id }}">
        <img src="{{ block.settings.image | image_url: width: 800 }}" alt="Article Image" loading="lazy" />
      </div>
    {% endif %}

  {% when 'author' %}
    <div class="ai-before-after-article__author-{{ ai_gen_id }}">
      <div class="ai-before-after-article__author-image-{{ ai_gen_id }}">
        {% if block.settings.image %}
          <img src="{{ block.settings.image | image_url: width: 100 }}" alt="{{ block.settings.name | escape }}" loading="lazy" />
        {% endif %}
      </div>
      <div class="author-name">
        <div class="ai-before-after-article__author-name-{{ ai_gen_id }}">{{ block.settings.name }}</div>
        <div class="ai-before-after-article__publish-date-{{ ai_gen_id }}" style="margin-left: 10px;">
          {{ block.settings.publish_date }}
        </div>
      </div>
    </div>

  {% when 'reading_time' %}
    {% if section.settings.show_reading_time %}
      <div class="ai-before-after-article__reading-time-{{ ai_gen_id }}">
        {{ block.settings.text | default: section.settings.reading_time_text }}
      </div>
    {% endif %}
{% endcase %}
