{% case block.type %}
{% when 'heading' %}
  {% assign highlight_words = block.settings.highlight_words | split: ',' | map: 'strip' %}
  {% assign heading_text = block.settings.text %}

  {% assign color = block.settings.highlight_color | default: section.settings.highlight_color %}

  {% capture new_heading_text %}
    {{ heading_text }}
  {% endcapture %}

  {% for word in highlight_words %}
    {% if word != '' %}
      {% capture highlight_span %}
        <span style="color:{{ color }};">{{ word }}</span>
      {% endcapture %}
      {% assign new_heading_text = new_heading_text | replace: word, highlight_span %}
    {% endif %}
  {% endfor %}

  <h2 class="ai-before-after-article__heading-{{ ai_gen_id }}"
      style="color: {{ block.settings.heading_text_color }}; font-size: {{ block.settings.font_size }}px;">
    {{ new_heading_text }}
  </h2>


  {% when 'subtitle' %}
    {% if block.settings.text != blank %}
      <div class="ai-before-after-article__description-{{ ai_gen_id }}">
        {{ block.settings.text }}
      </div>
    {% endif %}

  {% when 'image' %}
    {% if block.settings.image %}
      <div class="ai-before-after-article__image-container-{{ ai_gen_id }}">
        <img src="{{ block.settings.image | image_url: width: 800 }}" alt="Article Image" loading="lazy" />
      </div>
    {% endif %}

  {% when 'author' %}
    <div class="ai-before-after-article__author-{{ ai_gen_id }}">
      <div class="ai-before-after-article__author-image-{{ ai_gen_id }}">
        {% if block.settings.image %}
          <img src="{{ block.settings.image | image_url: width: 100 }}" alt="{{ block.settings.name | escape }}" loading="lazy" />
        {% endif %}
      </div>
      <div class="author-name">
        <div class="ai-before-after-article__author-name-{{ ai_gen_id }}">{{ block.settings.name }}</div>
        <div class="ai-before-after-article__publish-date-{{ ai_gen_id }}" style="margin-left: 10px;">
          {{ block.settings.publish_date }}
        </div>
      </div>
    </div>

  {% when 'reading_time' %}
    {% if section.settings.show_reading_time %}
      <div class="ai-before-after-article__reading-time-{{ ai_gen_id }}">
        {{ block.settings.text | default: section.settings.reading_time_text }}
      </div>
    {% endif %}
{% endcase %}
