<section class="tried-everything-section">
  {% for block in section.blocks %}
    <div class="tried-everything-block block-{{ forloop.index }}">
      
      {% if block.settings.heading != blank %}
        <h2 class="tried-heading">{{ block.settings.heading }}</h2>
      {% endif %}

      <div class="items-list">
        {% for i in (1..8) %}
          {% assign item_text = block.settings['item_' | append: i] %}
          {% if item_text != blank %}
            <div class="item">
              <span class="bullet"></span>
              {{ item_text }}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      {% if block.settings.main_image != blank %}
        <div class="main-image-wrapper">
          <img class="main-image" src="{{ block.settings.main_image | img_url: '800x' }}" alt="Main Image">

          {% if block.settings.show_x_marks %}
            {% for n in (1..4) %}
              <span class="x-mark x-mark-{{ n }}"></span>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>


