
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-593210409259893671.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-593210409259893671.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-593210409259893671.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-593210409259893671.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-593210409259893671.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-593210409259893671.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-593210409259893671.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-593210409259893671.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-593210409259893671.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-593210409259893671.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-593210409259893671.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-593210409259893671.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-593210409259893671.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-593210409259893671.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-593210409259893671.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-593210409259893671.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-593210409259893671.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-593210409259893671.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-593210409259893671.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-593210409259893671.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-593210409259893671.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-593210409259893671.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-593210409259893671.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-593210409259893671.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-593210409259893671.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-593210409259893671.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-593210409259893671.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-593210409259893671.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-593210409259893671.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-593210409259893671.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-593210409259893671.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-593210409259893671.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-593210409259893671.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-593210409259893671.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-593210409259893671.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-593210409259893671.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-593210409259893671.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-593210409259893671.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-593210409259893671.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-593210409259893671.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-593210409259893671.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-593210409259893671.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-593210409259893671.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-593210409259893671.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-593210409259893671.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-593210409259893671.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-593210409259893671.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-593210409259893671.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-593210409259893671.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-593210409259893671.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-593210409259893671.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-593210409259893671.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-593210409259893671.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-593210409259893671.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-593210409259893671.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-593210409259893671.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-593210409259893671.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-593210409259893671.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-593210409259893671.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-593210409259893671 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-593210409259893671 .gp-relative{position:relative}.gps-593210409259893671 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-593210409259893671 .gp-mb-0{margin-bottom:0}.gps-593210409259893671 .gp-inline-block{display:inline-block}.gps-593210409259893671 .gp-flex{display:flex}.gps-593210409259893671 .gp-grid{display:grid}.gps-593210409259893671 .\!gp-hidden{display:none!important}.gps-593210409259893671 .gp-hidden{display:none}.gps-593210409259893671 .gp-h-auto{height:auto}.gps-593210409259893671 .gp-h-full{height:100%}.gps-593210409259893671 .gp-w-full{width:100%}.gps-593210409259893671 .gp-max-w-full{max-width:100%}.gps-593210409259893671 .gp-flex-none{flex:none}.gps-593210409259893671 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-593210409259893671 .gp-flex-col{flex-direction:column}.gps-593210409259893671 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593210409259893671 .gp-duration-200{transition-duration:.2s}.gps-593210409259893671 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-593210409259893671 .tablet\:\!gp-hidden{display:none!important}.gps-593210409259893671 .tablet\:gp-hidden{display:none}.gps-593210409259893671 .tablet\:gp-h-auto{height:auto}.gps-593210409259893671 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-593210409259893671 .mobile\:\!gp-hidden{display:none!important}.gps-593210409259893671 .mobile\:gp-hidden{display:none}.gps-593210409259893671 .mobile\:gp-h-auto{height:auto}.gps-593210409259893671 .mobile\:gp-flex-none{flex:none}}.gps-593210409259893671 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"rgb(253, 253, 253)"}},"uid":"i2l6e0375903f"}' data-id="i2l6e0375903f" id="i2l6e0375903f" data-same-height-subgrid-container class="i2l6e0375903f gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(253, 253, 253);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-w-i2l6e0375903f gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"w-i2l6e0375903f"}' data-id="w-i2l6e0375903f" id="w-i2l6e0375903f" data-same-height-subgrid-container class="w-i2l6e0375903f gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2ld0af3c6bf1 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"i2l26776dae5c"}' data-id="i2l26776dae5c" id="i2l26776dae5c" data-same-height-subgrid-container class="i2l26776dae5c gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:32px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-sp-i2le027ad807a gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"sp-i2le027ad807a"}' data-id="sp-i2le027ad807a" id="sp-i2le027ad807a" data-same-height-subgrid-container class="sp-i2le027ad807a gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2le027ad807a gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"sp-i2l2da9aa97f4"}' data-id="sp-i2l2da9aa97f4" id="sp-i2l2da9aa97f4" data-same-height-subgrid-container class="sp-i2l2da9aa97f4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:32px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2l2da9aa97f4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="RrMXjBgLqtid"
        class="RrMXjBgLqtid"
        style="--ta:left;--mt:0px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110900432"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:43px;--size-tablet:38px;--size-mobile:36px;--c:rgb(1, 18, 45);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gRrMXjBgLqtid_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"i2l7be8e582d4"}' data-id="i2l7be8e582d4" id="i2l7be8e582d4" data-same-height-subgrid-container class="i2l7be8e582d4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-PCEEUqKFBWWb gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="PCEEUqKFBWWb"
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110900433 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto PCEEUqKFBWWb"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="48" height="48" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTQ4LTQ4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9InVybCgjZy00OC00OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTQ4IiB0bz0iNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagedshmntqxab.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagedshmntqxab.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagedshmntqxab.png"
      id=""
      style="--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:48/48;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="c-sp-i2l2af64079cc gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"sp-i2l2af64079cc"}' data-id="sp-i2l2af64079cc" id="sp-i2l2af64079cc" data-same-height-subgrid-container class="sp-i2l2af64079cc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2l2af64079cc gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="UfrUCcxfbaza"
        class="UfrUCcxfbaza"
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110900434"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:14px;--size-mobile:14px;--c:rgb(53, 155, 119);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gUfrUCcxfbaza_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="MTRjbrWiUnBS"
        class="MTRjbrWiUnBS"
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110900435"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(52, 155, 118);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gMTRjbrWiUnBS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="rRdKjmCUUeZq"
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110900436 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto rRdKjmCUUeZq"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="745" height="401" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQ1IiBoZWlnaHQ9IjQwMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQ1LTQwMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQ1IiBoZWlnaHQ9IjQwMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQ1IiBoZWlnaHQ9IjQwMSIgZmlsbD0idXJsKCNnLTc0NS00MDEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDUiIHRvPSI3NDUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagesbluhcrdkg.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagesbluhcrdkg.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagesbluhcrdkg.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:745/401;--aspect-tablet:745/401;--aspect-mobile:745/401;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="c-sp-i2lc1a6bee0b4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"rgb(254, 254, 254)"}},"uid":"sp-i2lc1a6bee0b4"}' data-id="sp-i2lc1a6bee0b4" id="sp-i2lc1a6bee0b4" data-same-height-subgrid-container class="sp-i2lc1a6bee0b4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2lc1a6bee0b4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="MvMepCubXVwc"
        class="MvMepCubXVwc"
        style="--ta:left;--mt:0px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110900442"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:14px;--size-mobile:14px;--c:rgb(1, 17, 45);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gMvMepCubXVwc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"rgb(247, 247, 247)"}},"uid":"rewrap_row_iDErZLJuNXIU"}' data-id="rewrap_row_iDErZLJuNXIU" id="rewrap_row_iDErZLJuNXIU" data-same-height-subgrid-container class="rewrap_row_iDErZLJuNXIU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:rgb(254, 254, 254);--bw:1px 1px 1px 1px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:64px;--mr:auto;--pt:8px;--pl:16px;--pb:12px;--pr:16px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(247, 247, 247);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2l2dedb2a0a1 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="wJxlowHiURlf"
        class="wJxlowHiURlf"
        style="--ta:center;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110900443"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:56px;--size-tablet:38px;--size-mobile:36px;--c:rgb(2, 18, 46);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gwJxlowHiURlf_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="qGZPIkxPcEmm"
        class="qGZPIkxPcEmm"
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110900444"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:14px;--size-mobile:14px;--c:rgb(2, 18, 46);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gqGZPIkxPcEmm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="QfxFrPyDllRF"
      style="--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763110900444 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto QfxFrPyDllRF"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="241" height="19" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQxIiBoZWlnaHQ9IjE5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNDEtMTkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI0MSIgaGVpZ2h0PSIxOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQxIiBoZWlnaHQ9IjE5IiBmaWxsPSJ1cmwoI2ctMjQxLTE5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjQxIiB0bz0iMjQxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageitukdqobnj.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageitukdqobnj.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageitukdqobnj.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:241/19;--aspect-tablet:241/19;--aspect-mobile:241/19;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"i2ld79322aa16"}' data-id="i2ld79322aa16" id="i2ld79322aa16" data-same-height-subgrid-container class="i2ld79322aa16 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-fjrvkheKDdJw gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="fjrvkheKDdJw"
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110900445 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto fjrvkheKDdJw"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="106" height="23" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA2IiBoZWlnaHQ9IjIzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDYtMjMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwNiIgaGVpZ2h0PSIyMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA2IiBoZWlnaHQ9IjIzIiBmaWxsPSJ1cmwoI2ctMTA2LTIzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA2IiB0bz0iMTA2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageaoefcfekpo.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageaoefcfekpo.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageaoefcfekpo.png"
      id=""
      style="--w:106px;--w-tablet:106px;--w-mobile:106px;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:106/23;--aspect-tablet:106/23;--aspect-mobile:106/23;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="c-cQgOkMChVaDe gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="cQgOkMChVaDe"
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763110900446 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto cQgOkMChVaDe"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="241" height="21" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQxIiBoZWlnaHQ9IjIxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNDEtMjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI0MSIgaGVpZ2h0PSIyMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQxIiBoZWlnaHQ9IjIxIiBmaWxsPSJ1cmwoI2ctMjQxLTIxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjQxIiB0bz0iMjQxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagejaivzysmgc.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagejaivzysmgc.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagejaivzysmgc.png"
      id=""
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:241/21;--aspect-tablet:241/21;--aspect-mobile:241/21;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="mPiHsrLYMdom"
      style="--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1763110900446 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto mPiHsrLYMdom"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="241" height="18" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQxIiBoZWlnaHQ9IjE4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNDEtMTgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI0MSIgaGVpZ2h0PSIxOCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQxIiBoZWlnaHQ9IjE4IiBmaWxsPSJ1cmwoI2ctMjQxLTE4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjQxIiB0bz0iMjQxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagemfymgarpjf.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagemfymgarpjf.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagemfymgarpjf.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:241/18;--aspect-tablet:241/18;--aspect-mobile:241/18;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="cFJpNjdflyjM"
        class="cFJpNjdflyjM"
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110900448"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:14px;--size-mobile:14px;--c:rgb(1, 25, 59);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gcFJpNjdflyjM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-593210409259893671 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yaakuzaa/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=593209670676513520&sectionId=593210409259893671)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gRrMXjBgLqtid_text","label":"gRrMXjBgLqtid_text","default":"Struggling With Burning, Tingling. or Numb Feet? This At-Home. Circulation Booster Could Change Everything"},{"type":"html","id":"gUfrUCcxfbaza_text","label":"gUfrUCcxfbaza_text","default":"By Dr. Jessica Thompson."},{"type":"html","id":"gMTRjbrWiUnBS_text","label":"gMTRjbrWiUnBS_text","default":"November 14, 2025"},{"type":"html","id":"gMvMepCubXVwc_text","label":"gMvMepCubXVwc_text","default":"Customer Reviews"},{"type":"html","id":"gwJxlowHiURlf_text","label":"gwJxlowHiURlf_text","default":"4.9"},{"type":"html","id":"gqGZPIkxPcEmm_text","label":"gqGZPIkxPcEmm_text","default":"1257 Reviews"},{"type":"html","id":"gcFJpNjdflyjM_text","label":"gcFJpNjdflyjM_text","default":"Foot pain doesn't just stay in your feet - if only it were that simple, right?"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}