
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-593210534501810928.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-593210534501810928.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-593210534501810928.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-593210534501810928.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-593210534501810928.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-593210534501810928.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-593210534501810928.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-593210534501810928.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-593210534501810928.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-593210534501810928.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-593210534501810928.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-593210534501810928.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-593210534501810928.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-593210534501810928.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-593210534501810928.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-593210534501810928.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-593210534501810928.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-593210534501810928.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-593210534501810928.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-593210534501810928.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-593210534501810928.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-593210534501810928.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-593210534501810928.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-593210534501810928.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-593210534501810928.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-593210534501810928.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-593210534501810928.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-593210534501810928.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-593210534501810928.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-593210534501810928.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-593210534501810928.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-593210534501810928.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-593210534501810928.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-593210534501810928.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-593210534501810928.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-593210534501810928.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-593210534501810928.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-593210534501810928.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-593210534501810928.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-593210534501810928.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-593210534501810928.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-593210534501810928.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-593210534501810928.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-593210534501810928.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-593210534501810928.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-593210534501810928.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-593210534501810928.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-593210534501810928.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-593210534501810928.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-593210534501810928.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-593210534501810928.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-593210534501810928 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-593210534501810928 .gp-relative{position:relative}.gps-593210534501810928 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-593210534501810928 .gp-mb-0{margin-bottom:0}.gps-593210534501810928 .gp-inline-block{display:inline-block}.gps-593210534501810928 .gp-flex{display:flex}.gps-593210534501810928 .gp-grid{display:grid}.gps-593210534501810928 .\!gp-hidden{display:none!important}.gps-593210534501810928 .gp-hidden{display:none}.gps-593210534501810928 .gp-h-auto{height:auto}.gps-593210534501810928 .gp-h-full{height:100%}.gps-593210534501810928 .gp-w-full{width:100%}.gps-593210534501810928 .gp-max-w-full{max-width:100%}.gps-593210534501810928 .gp-flex-none{flex:none}.gps-593210534501810928 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-593210534501810928 .gp-flex-col{flex-direction:column}.gps-593210534501810928 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593210534501810928 .gp-duration-200{transition-duration:.2s}.gps-593210534501810928 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-593210534501810928 .tablet\:\!gp-hidden{display:none!important}.gps-593210534501810928 .tablet\:gp-hidden{display:none}.gps-593210534501810928 .tablet\:gp-h-auto{height:auto}.gps-593210534501810928 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-593210534501810928 .mobile\:\!gp-hidden{display:none!important}.gps-593210534501810928 .mobile\:gp-hidden{display:none}.gps-593210534501810928 .mobile\:gp-h-auto{height:auto}.gps-593210534501810928 .mobile\:gp-flex-none{flex:none}}.gps-593210534501810928 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"rgb(254, 254, 254)"}},"uid":"i2leb9368c0d7"}' data-id="i2leb9368c0d7" id="i2leb9368c0d7" data-same-height-subgrid-container class="i2leb9368c0d7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-w-i2leb9368c0d7 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"w-i2leb9368c0d7"}' data-id="w-i2leb9368c0d7" id="w-i2leb9368c0d7" data-same-height-subgrid-container class="w-i2leb9368c0d7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:743px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2l2a0967945a gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="vNMoElUUqcVt"
        class="vNMoElUUqcVt"
        style="--ta:left;--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902320"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:42px;--size-tablet:29px;--size-mobile:27px;--c:rgb(1, 18, 45);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gvNMoElUUqcVt_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="uYQvwvARjMno"
      style="--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902320 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto uYQvwvARjMno"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1548" height="1041" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU0OCIgaGVpZ2h0PSIxMDQxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTQ4LTEwNDEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1NDgiIGhlaWdodD0iMTA0MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU0OCIgaGVpZ2h0PSIxMDQxIiBmaWxsPSJ1cmwoI2ctMTU0OC0xMDQxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTU0OCIgdG89IjE1NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "image_1752.png" | file_url }}" data-src="{{ "image_1752.png" | file_url }}" data-srcset="{{ 'image_1752.png' | file_img_url: '768x' }} 768w, {{ 'image_1752.png' | file_img_url: '1024x' }} 1024w, {{ 'image_1752.png' | file_img_url: 'master' }} 1440w"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1548/1041;--aspect-tablet:1548/1041;--aspect-mobile:1548/1041;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ulgWfUwpmBbK"
        class="ulgWfUwpmBbK"
        style="--ta:left;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902321"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 24, 58);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gulgWfUwpmBbK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="vvFwLMulYQck"
      style="--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902321 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto vvFwLMulYQck"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="407" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQwNyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwNyIgZmlsbD0idXJsKCNnLTc0My00MDcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagecovnjjobyi.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagecovnjjobyi.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagecovnjjobyi.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/407;--aspect-tablet:743/407;--aspect-mobile:743/407;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="uySHLjJexUOn"
        class="uySHLjJexUOn"
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902322"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 23, 57);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.guySHLjJexUOn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="EscZpIWznGrx"
        class="EscZpIWznGrx"
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902323"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:31px;--size-tablet:26px;--size-mobile:24px;--c:rgb(2, 17, 45);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gEscZpIWznGrx_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="ZgmRJejiheSc"
      style="--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902323 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ZgmRJejiheSc"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="402" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQwMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgZmlsbD0idXJsKCNnLTc0My00MDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageymbkaglwyq.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageymbkaglwyq.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageymbkaglwyq.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/402;--aspect-tablet:743/402;--aspect-mobile:743/402;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="WVyCVYZpaNLj"
        class="WVyCVYZpaNLj"
        style="--ta:left;--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902324"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 24, 58);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gWVyCVYZpaNLj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="RZXWSmcJKKVg"
        class="RZXWSmcJKKVg"
        style="--ta:left;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902324"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 24, 58);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gRZXWSmcJKKVg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="qpYRKwqmepKz"
        class="qpYRKwqmepKz"
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902325"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:31px;--size-tablet:26px;--size-mobile:24px;--c:rgb(3, 19, 47);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gqpYRKwqmepKz_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="OekyprUbyjGV"
      style="--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902325 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto OekyprUbyjGV"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="436" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQzNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQzNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQzNiIgZmlsbD0idXJsKCNnLTc0My00MzYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagecoikfxoagm.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagecoikfxoagm.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagecoikfxoagm.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/436;--aspect-tablet:743/436;--aspect-mobile:743/436;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="oKUVnrYITZTX"
        class="oKUVnrYITZTX"
        style="--ta:left;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902326"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 24, 58);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.goKUVnrYITZTX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="CnpnIgWOmGlb"
        class="CnpnIgWOmGlb"
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902327"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:31px;--size-tablet:26px;--size-mobile:24px;--c:rgb(1, 18, 45);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gCnpnIgWOmGlb_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gNKKlnWJcXXl"
      style="--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902327 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gNKKlnWJcXXl"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="459" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQ1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQ1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQ1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQ1OSIgZmlsbD0idXJsKCNnLTc0My00NTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagesqrexwupub.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagesqrexwupub.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagesqrexwupub.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/459;--aspect-tablet:743/459;--aspect-mobile:743/459;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="SxSDddACQvwl"
        class="SxSDddACQvwl"
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902328"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 24, 58);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gSxSDddACQvwl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="UcDXtjOsYVpN"
      style="--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902328 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto UcDXtjOsYVpN"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="402" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQwMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgZmlsbD0idXJsKCNnLTc0My00MDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageswvvomijma.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageswvvomijma.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageswvvomijma.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/402;--aspect-tablet:743/402;--aspect-mobile:743/402;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="izOFVKePyyeS"
        class="izOFVKePyyeS"
        style="--ta:left;--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902329"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:31px;--size-tablet:26px;--size-mobile:24px;--c:rgb(1, 18, 45);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gizOFVKePyyeS_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="xazMgmzdxKYN"
        class="xazMgmzdxKYN"
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902330"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(2, 26, 59);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gxazMgmzdxKYN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="qYMZYcCgyyxH"
      style="--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902330 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto qYMZYcCgyyxH"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="648" height="405" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQwNSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjQ4LTQwNSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQwNSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjQ4IiBoZWlnaHQ9IjQwNSIgZmlsbD0idXJsKCNnLTY0OC00MDUpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NDgiIHRvPSI2NDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageuyyyhrfbfr.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageuyyyhrfbfr.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageuyyyhrfbfr.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:648/405;--aspect-tablet:648/405;--aspect-mobile:648/405;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="niljzpzAxLTJ"
        class="niljzpzAxLTJ"
        style="--ta:left;--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902331"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 23, 57);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gniljzpzAxLTJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="dDhtrbRUOGAZ"
        class="dDhtrbRUOGAZ"
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902331"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:42px;--size-tablet:29px;--size-mobile:27px;--c:rgb(1, 18, 45);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gdDhtrbRUOGAZ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="PImUSSwtzjIW"
        class="PImUSSwtzjIW"
        style="--ta:left;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902332"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-body, body);--weight:400;--size:11px;--size-tablet:14px;--size-mobile:14px;--c:rgb(7, 24, 24);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gPImUSSwtzjIW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="VormkWrtRHEL"
      style="--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902332 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto VormkWrtRHEL"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="402" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQwMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgZmlsbD0idXJsKCNnLTc0My00MDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageqtyraeubuf.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageqtyraeubuf.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageqtyraeubuf.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/402;--aspect-tablet:743/402;--aspect-mobile:743/402;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="TRTzcmBsxZwi"
        class="TRTzcmBsxZwi"
        style="--ta:left;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902333"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 24, 58);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gTRTzcmBsxZwi_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="KdYdMcnNhlpa"
      style="--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902333 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto KdYdMcnNhlpa"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="402" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQwMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgZmlsbD0idXJsKCNnLTc0My00MDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageeohxefvats.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageeohxefvats.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageeohxefvats.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/402;--aspect-tablet:743/402;--aspect-mobile:743/402;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="HsitgvyCztAR"
        class="HsitgvyCztAR"
        style="--ta:left;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902334"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 23, 57);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gHsitgvyCztAR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="dwWLJdlpnZOT"
        class="dwWLJdlpnZOT"
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902335"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:31px;--size-tablet:26px;--size-mobile:24px;--c:rgb(2, 17, 45);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gdwWLJdlpnZOT_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="CmYyjiUqQjXp"
      style="--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902335 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto CmYyjiUqQjXp"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="403" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQwMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMyIgZmlsbD0idXJsKCNnLTc0My00MDMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageltujsrnowi.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageltujsrnowi.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageltujsrnowi.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/403;--aspect-tablet:743/403;--aspect-mobile:743/403;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="sEiliRYpyGYP"
        class="sEiliRYpyGYP"
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902336"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 23, 57);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gsEiliRYpyGYP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="YYykBrZuoyfm"
        class="YYykBrZuoyfm"
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902336"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 24, 58);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gYYykBrZuoyfm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="vdPhsfbdBJNy"
        class="vdPhsfbdBJNy"
        style="--ta:left;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902343"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 23, 57);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gvdPhsfbdBJNy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="PnhBHWXzBQfP"
        class="PnhBHWXzBQfP"
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902344"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:31px;--size-tablet:26px;--size-mobile:24px;--c:rgb(3, 19, 47);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gPnhBHWXzBQfP_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="VRlZruFZhylx"
      style="--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902344 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto VRlZruFZhylx"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="451" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQ1MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQ1MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQ1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQ1MSIgZmlsbD0idXJsKCNnLTc0My00NTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagerwaaczdpvx.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagerwaaczdpvx.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagerwaaczdpvx.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/451;--aspect-tablet:743/451;--aspect-mobile:743/451;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="VkFVBimmtmry"
        class="VkFVBimmtmry"
        style="--ta:left;--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902345"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 23, 57);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gVkFVBimmtmry_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="uabDlzXxdgnI"
        class="uabDlzXxdgnI"
        style="--ta:left;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902346"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 24, 58);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.guabDlzXxdgnI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="CNgcHPFsEkEs"
        class="CNgcHPFsEkEs"
        style="--ta:left;--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902347"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:31px;--size-tablet:26px;--size-mobile:24px;--c:rgb(1, 17, 46);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gCNgcHPFsEkEs_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="ZKNdxHaTCSBr"
      style="--mt:0px;--ml:0px;--mb:12px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902347 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ZKNdxHaTCSBr"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="458" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQ1OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQ1OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQ1OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQ1OCIgZmlsbD0idXJsKCNnLTc0My00NTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagedgzzrvbajx.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagedgzzrvbajx.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imagedgzzrvbajx.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/458;--aspect-tablet:743/458;--aspect-mobile:743/458;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="nTImxKjlQVeb"
        class="nTImxKjlQVeb"
        style="--ta:left;--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902348"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 24, 58);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gnTImxKjlQVeb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="LDqXrnmhBNot"
      style="--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902348 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto LDqXrnmhBNot"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="743" height="402" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQzLTQwMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQzIiBoZWlnaHQ9IjQwMiIgZmlsbD0idXJsKCNnLTc0My00MDIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDMiIHRvPSI3NDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageawmhzivkga.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageawmhzivkga.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageawmhzivkga.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:743/402;--aspect-tablet:743/402;--aspect-mobile:743/402;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="pevBmMPlwPio"
        class="pevBmMPlwPio"
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902349"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(2, 26, 59);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gpevBmMPlwPio_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="WvPuXdbjAGaU"
      style="--mt:0px;--ml:0px;--mb:48px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763110902349 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto WvPuXdbjAGaU"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="672" height="403" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjcyIiBoZWlnaHQ9IjQwMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjcyLTQwMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjcyIiBoZWlnaHQ9IjQwMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjcyIiBoZWlnaHQ9IjQwMyIgZmlsbD0idXJsKCNnLTY3Mi00MDMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02NzIiIHRvPSI2NzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageovbjlqiocz.png" data-src="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageovbjlqiocz.png" data-srcset="https://image2layout-detection-trainimagebucket-02g83vbxbb2s.s3.amazonaws.com/image2layout/atom_imageovbjlqiocz.png"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:672/403;--aspect-tablet:672/403;--aspect-mobile:672/403;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="OYdKWDacjvMh"
        class="OYdKWDacjvMh"
        style="--ta:left;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902350"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-SF-Pro-Display, 'SF Pro Display'), var(--g-font-heading, heading);--weight:700;--size:31px;--size-tablet:26px;--size-mobile:24px;--c:rgb(3, 19, 46);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gOYdKWDacjvMh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="XguxTOXzkFcw"
        class="XguxTOXzkFcw"
        style="--ta:left;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763110902350"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 23, 57);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gXguxTOXzkFcw_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-593210534501810928 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yaakuzaa/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=593209670676513520&sectionId=593210534501810928)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gvNMoElUUqcVt_text","label":"gvNMoElUUqcVt_text","default":"Struggling With Burning, Tingling. or Numb Feet? This At-Home Circulation Booster Could Change Everything"},{"type":"html","id":"gulgWfUwpmBbK_text","label":"gulgWfUwpmBbK_text","default":"It creeps into every part of life.It changes the way you move,steals your sleep,and robs you of simple moments with the people you love.. Steps that used to feel light now feel like walking through wet cement. Toes lose feeling throwing your balance off without warning. The burning builds until standing at the counter to pour a cup of coffee feels impossible.. And when the day finally ends, nights brings no rest... only shocks that tear you awake before your body can recover.. So you chase relief.. Bottles of pills. Cooling creams. Cushioned shoes that promise support. Pricey orthotics that dig into your wallet. Even sprays that numb the skin for a little while Each one dangles hope, and each one fades before the night is through. What's Ieft behind is the same pain... and the growing fear that tomorrow will be even worse."},{"type":"html","id":"guySHLjJexUOn_text","label":"guySHLjJexUOn_text","default":"It's called EMSense, and it's a simple device you can use at home, built by specialists who finally understood the root of the problem. In just fifteen minutes a day, it delivers the kind of relief pills and creams never could. Heat that soothes. Massage that restores. Compression that supports.All working together inside one wrap designed to bring life back to your feet. Thousands have already discovered it. For many, EMSense has been the first real turning point - the moment the cycle of pain finally began to break."},{"type":"html","id":"gEscZpIWznGrx_text","label":"gEscZpIWznGrx_text","default":"The Hidden Reason Behind Tingling, Burning and Numb Feet."},{"type":"html","id":"gWVyCVYZpaNLj_text","label":"gWVyCVYZpaNLj_text","default":"Foot pain doesn't begin at the surface. It begins deep inside, where most people never think to look Your nerves are like tiny electrical wires running through your feet. And just like every other part of your body, they can't survive without oxygen. That oxygen is delivered throughblood"},{"type":"html","id":"gRZXWSmcJKKVg_text","label":"gRZXWSmcJKKVg_text","default":"Then the burning comes, spreading through the soles until it feels like your feet are or fire from the inside out. Numb patches follow, turning ordinary steps into risky stumbles.. The pain stretches on endlessly because the true problem - oxygen-starved nerves - has never been addressed. And this is exactly why pills, Iotions, padded shoes, and compression socks fall. short. They might dull the fire or cool the burn for a while, but they never reach the deeper issue. Without restoring healthy blood flow, the nerves are still suffocating The damage keeps advancing in silence, even on the days when the surface feels calm. That's where EMSense changes everything. Instead of covering up symptoms, it targets the real source. Its triple therapy works to push oxygen-rich blood back into the tissue, nourish the nerves, and give them a fighting chance to recover."},{"type":"html","id":"gqpYRKwqmepKz_text","label":"gqpYRKwqmepKz_text","default":"Mistake #1: Thinking Foot Pain Is \"Just Old Age\""},{"type":"html","id":"goKUVnrYITZTX_text","label":"goKUVnrYITZTX_text","default":"Too many people dismiss foot pain as a sign of getting older. They chalk it up to. stiffness, fatigue, or just \"slowing down\". But burning feet don't appear out of nowhere. Numb toes that give way aren't harmless. Tingling that rips you from sleep is your body screaming for help as nerves suffocate without the oxygen-rich blood they need. The damage doesn't just hurt, it can absolutely rewrite your life. Trips are canceled. because walking feels impossible. Breakfast turns into a battle just to stay standing Nights are shredded by shocks that leave you more exhausted than before.. Confidence crumbles, independence slips, and every step becomes a calculation of risk. Foot pain is a warning, and the longer it's ignored, the tighter its grip becomes."},{"type":"html","id":"gCnpnIgWOmGlb_text","label":"gCnpnIgWOmGlb_text","default":"Mistake #2: Wasting Money on Pills and Creams That Just Numb It."},{"type":"html","id":"gSxSDddACQvwl_text","label":"gSxSDddACQvwl_text","default":"Pharmacy aisles are full of false hope: painkillers, cooling creams, padded socks vitamin blends, even sprays that promise relief. They tempt you with comfort, but never touch the deeper cause. At best, they dull the fire for a little while.They soften the sting, take the edge off, then fade before the night is through. Meanwhile, your nerves remain starved. Circulation stays blocked. And the pain always comes back, sharper, stronger, spreading further, eating away at your body and psyche even further. This is the cruel loop so many are stuck in: money spent, hope raised, relief gone, pain roaring back.All while the real problem continues to worsen beneath the surface. Real relief means more than covering up symptoms. It means restoring blood flow and giving nerves the lifeline they need. That's the difference EMsense delivers."},{"type":"html","id":"gizOFVKePyyeS_text","label":"gizOFVKePyyeS_text","default":"Why Most Foot Pain Fixes Don't Reach the Rea Problem"},{"type":"html","id":"gxazMgmzdxKYN_text","label":"gxazMgmzdxKYN_text","default":"Propiemm Prescription drugs can't rebuild circulation. Neither can creams, padded socks, sprays,. or vitamins. At best, they numb the surface for a short while, but they never deliver oxygen to the nerves where the real damage is spreading And so the suffering never stops. The tingling lingers no matter what you try. The burning creeps deeper into the soles until standing in line feels unbearable. Numb toes buckle beneath you, turning every step into a risk.. Relief comes in fleeting bursts, then vanishes, leaving the pain sharper than before.. That brief flicker of comfort tricks people into believing they're healing, but the truth is brutal - the nerves are still starving inside.. Each day without circulation, the tissue weakens further. What starts as irritation soon becomes the fear of climbing stairs, the dread of walking across a room, and the. torment of nights shattered by shocks. This slow, grinding cycle has broken down thousands, stealing freedom one painful step at a time. It was this reality that pushed specialists to create something new -not another bandage, but a device that restores what the nerves have been begging for all along."},{"type":"html","id":"gniljzpzAxLTJ_text","label":"gniljzpzAxLTJ_text","default":"That solution became EMSense, a soft wrap that looks simple on the outside but holds powerful therapy inside. The moment you slip it on and press start, you feel it working - it's that quick and. reliable. Warmth spreads through your feet, easing the fire that's been burning for years. Gentle pulses move through your soles, like waves stirring nerves back to life. A steady. squeeze hugs your feet, pushing fresh blood into the spots that have been cold and. numb for too long. This isn't some gimmick off a store shelf. It was built by specialists for people whose. pain has stolen too many mornings, too many nights, too many everyday joys.. Pills never sink this deep. Creams wear off before you've even made it through the night. EMSense gets right into the tissue,AKA the place where healing has to start. For people worn down by endless pills, tubes of cream, and promises that never delivered, EMSense has been the moment everything changed. The first time the burning eased, the first full night of sleep, the first morning. they could stand at the counter without leaning their whole weight on it for a modicum of relief."},{"type":"html","id":"gdDhtrbRUOGAZ_text","label":"gdDhtrbRUOGAZ_text","default":"Struggling With Burning, Tingling.. or Numb Feet? This At-Home Circulation Booster Could Change Everything"},{"type":"html","id":"gPImUSSwtzjIW_text","label":"gPImUSSwtzjIW_text","default":"By Dr. Jessica Thompson November 14.2025"},{"type":"html","id":"gTRTzcmBsxZwi_text","label":"gTRTzcmBsxZwi_text","default":"Bottles of pills. Cooling creams. Cushioned shoes that promise support. Pricey orthotics that dig into your wallet. Even sprays that numb the skin for a little while. Each one dangles hope, and each one fades before the night is through.What's left behind is the same pain... and the growing fear that tomorrow will be even worse."},{"type":"html","id":"gHsitgvyCztAR_text","label":"gHsitgvyCztAR_text","default":"It's called EMsense, and it's a simple device you can use at home, built by specialists who finally understood the root of the problem. In just fifteen minutes a day, it delivers the kind of relief pills and creams never could. Heat that soothes. Massage that restores. Compression that supports. All working together inside one wrap designed to bring life back to your feet. Thousands have already discovered it. For many, EMSense has been the first real turning point - the moment the cycle of pain finally began to break."},{"type":"html","id":"gdwWLJdlpnZOT_text","label":"gdwWLJdlpnZOT_text","default":"The Hidden Reason Behind Tingling, Burning and Numb Feet"},{"type":"html","id":"gsEiliRYpyGYP_text","label":"gsEiliRYpyGYP_text","default":"Foot pain doesn't begin at the surface. It begins deep"},{"type":"html","id":"gYYykBrZuoyfm_text","label":"gYYykBrZuoyfm_text","default":"Your nerves are like tiny electrical wires running through your feet. And just like every other part of your body, they can't survive without oxygen. That oxygen is delivered through blood."},{"type":"html","id":"gvdPhsfbdBJNy_text","label":"gvdPhsfbdBJNy_text","default":"But when circulation slows, those nerves start gasping for air. They don't get the lifeline they need, so they begin to weaken and break down. First it shows up as tingling, like pins and needles that never fade. Then the burning comes, spreading through the soles until it feels like your feet are or fire from the inside out. Numb patches follow, turning ordinary steps into risky stumbles The pain stretches on endlessly because the true problem - oxygen-starved nerves - has never been addressed. And this is exactly why pills, Iotions, padded shoes, and compression socks fall short. They might dull the fire or cool the burn for a while, but they never reach the deeper issue. Without restoring healthy blood flow, the nerves are still suffocating. The damage keeps advancing in silence, even on the days when the surface feels calm That's where EMsense changes everything. Instead of covering up symptoms, it targets the real source. Its triple therapy works to push oxygen-rich blood back into the tissue, nourish the nerves and give them a fighting chance to recover"},{"type":"html","id":"gPnhBHWXzBQfP_text","label":"gPnhBHWXzBQfP_text","default":"Mistake #1: Thinking Foot Pain Is \"Just Old Age\""},{"type":"html","id":"gVkFVBimmtmry_text","label":"gVkFVBimmtmry_text","default":"Too many people dismiss foot pain as a sign of getting older. They chalk it up to stiffness. fatigue. or iust\"slowing down\"."},{"type":"html","id":"guabDlzXxdgnI_text","label":"guabDlzXxdgnI_text","default":"Tingling that rips you from sleep is your body screaming for help as nerves suffocate without the oxygen-rich blood they need.. The damage doesn't just hurt, it can absolutely rewrite your life. Trips are canceled. because walking feels impossible. Breakfast turns into a battle just to stay standing Nights are shredded by shocks that leave you more exhausted than before.. Confidence crumbles, independence slips, and every step becomes a calculation of risk. Foot nain is a warnin.  and the longer it's ignored the tighter its grin becomes."},{"type":"html","id":"gCNgcHPFsEkEs_text","label":"gCNgcHPFsEkEs_text","default":"Mistake #2: Wasting Money on Pills and Creams That Just Numb It"},{"type":"html","id":"gnTImxKjlQVeb_text","label":"gnTImxKjlQVeb_text","default":"Pharmacy aisles are full of false hope: painkillers, cooling creams, padded socks, vitamin blends, even sprays that promise relief. They tempt you with comfort, but never. touch the deeper cause. At best, they dull the fire for a little while.They soften the sting, take the edge off, then fade before the night is through. Meanwhile, your nerves remain starved. Circulation stays blocked. And the pain always comes back, sharper, stronger, spreading further, eating away at your body and psyche even further. This is the cruel loop so many are stuck in: money spent, hope raised, relief gone, pain roaring back. All while the real problem continues to worsen beneath the surface.. Real relief means more than covering up symptoms. It means restoring blood flow and. giving nerves the lifeline they need."},{"type":"html","id":"gpevBmMPlwPio_text","label":"gpevBmMPlwPio_text","default":"Problem Prescription drugs can't rebuild circulation. Neither can creams, padded socks, sprays, or vitamins. At best, they numb the surface for a short while, but they never deliver oxygen to the nerves where the real damage is spreading. And so the suffering never stops. The tingling lingers no matter what you try.. The burning creeps deeper into the soles until standing in line feels unbearable. Numb toes buckle beneath you, turning every step into a risk.. Relief comes in fleeting bursts, then vanishes, leaving the pain sharper than before That brief flicker of comfort tricks people into believing they're healing, but the truth is brutal - the nerves are still starving inside.. Each day without circulation,the tissue weakens further.What starts as irritation soon becomes the fear of climbing stairs, the dread of walking across a room, and the torment of nights shattered by shocks. This slow, grinding cycle has broken down thousands, stealing freedom one painful step at a time. It was this reality that pushed specialists to create something new - not another bandage, but a device that restores what the nerves have been begging for all along."},{"type":"html","id":"gOYdKWDacjvMh_text","label":"gOYdKWDacjvMh_text","default":"This Wraparound Foot Device Reaches Where Pills and Pads Can't."},{"type":"html","id":"gXguxTOXzkFcw_text","label":"gXguxTOXzkFcw_text","default":"That solution became EMSense, a soft wrap that looks simple on the outside but holds powerful therapy inside The moment you slip it on and press start, you feel it working - it's that quick and. reliable. Warmth spreads through your feet, easing the fire that's been burning for years. Gentle pulses move through your soles, like waves stirring nerves back to life.A steady. squeeze hugs your feet, pushing fresh blood into the spots that have been cold and numb for too long. This isn't some gimmick off a store shelf. It was built by specialists for people whose pain has stolen too many mornings, too many nights, too many everyday joys Pills never sink this deep. Creams wear off before you've even made it through the night. EMSense gets right into the tissue,AKA the place where healing has to start. For people worn down by endless pills, tubes of cream, and promises that never. delivered, EMsense has been the moment everything changed. The first time the burning eased, the first full night of sleep, the first morning they could stand at the counter without leaning their whole weight on it for a. modicum of relief."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}