
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-593199058382750631.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-593199058382750631.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-593199058382750631.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-593199058382750631.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-593199058382750631.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-593199058382750631.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-593199058382750631.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-593199058382750631.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-593199058382750631.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-593199058382750631.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-593199058382750631.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-593199058382750631.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-593199058382750631.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-593199058382750631.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-593199058382750631.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-593199058382750631.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-593199058382750631.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-593199058382750631.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-593199058382750631.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-593199058382750631.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-593199058382750631.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-593199058382750631.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-593199058382750631.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-593199058382750631.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-593199058382750631.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-593199058382750631.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-593199058382750631.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-593199058382750631.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-593199058382750631.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-593199058382750631.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-593199058382750631.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-593199058382750631.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-593199058382750631.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-593199058382750631.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-593199058382750631.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-593199058382750631.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-593199058382750631.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-593199058382750631.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-593199058382750631.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-593199058382750631.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-593199058382750631.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-593199058382750631.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-593199058382750631.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-593199058382750631.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-593199058382750631.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-593199058382750631.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-593199058382750631.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-593199058382750631.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-593199058382750631.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-593199058382750631.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-593199058382750631.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-593199058382750631.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-593199058382750631.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-593199058382750631.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-593199058382750631.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-593199058382750631.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-593199058382750631.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-593199058382750631.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-593199058382750631.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-593199058382750631.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-593199058382750631.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-593199058382750631.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-593199058382750631.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-593199058382750631.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-593199058382750631.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-593199058382750631.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-593199058382750631.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-593199058382750631.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-593199058382750631.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-593199058382750631.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-593199058382750631.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-593199058382750631.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-593199058382750631.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-593199058382750631.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-593199058382750631.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-593199058382750631.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-593199058382750631.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-593199058382750631.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-593199058382750631.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-593199058382750631.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-593199058382750631.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-593199058382750631.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-593199058382750631.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-593199058382750631.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-593199058382750631.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-593199058382750631.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-593199058382750631.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-593199058382750631.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-593199058382750631.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-593199058382750631.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-593199058382750631.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-593199058382750631.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-593199058382750631.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-593199058382750631.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-593199058382750631.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-593199058382750631.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-593199058382750631 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-593199058382750631 .gp-invisible{visibility:hidden}.gps-593199058382750631 .gp-absolute{position:absolute}.gps-593199058382750631 .gp-relative{position:relative}.gps-593199058382750631 .gp-top-0{top:0}.gps-593199058382750631 .-gp-z-1{z-index:-1}.gps-593199058382750631 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-593199058382750631 .gp-mb-0{margin-bottom:0}.gps-593199058382750631 .gp-flex{display:flex}.gps-593199058382750631 .gp-inline-flex{display:inline-flex}.gps-593199058382750631 .gp-grid{display:grid}.gps-593199058382750631 .\!gp-hidden{display:none!important}.gps-593199058382750631 .gp-hidden{display:none}.gps-593199058382750631 .gp-h-full{height:100%}.gps-593199058382750631 .gp-w-full{width:100%}.gps-593199058382750631 .gp-max-w-full{max-width:100%}.gps-593199058382750631 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-593199058382750631 .gp-flex-col{flex-direction:column}.gps-593199058382750631 .gp-flex-wrap{flex-wrap:wrap}.gps-593199058382750631 .gp-items-center{align-items:center}.gps-593199058382750631 .gp-justify-center{justify-content:center}.gps-593199058382750631 .\!gp-self-center{align-self:center!important}.gps-593199058382750631 .gp-self-center{align-self:center}.gps-593199058382750631 .gp-overflow-hidden{overflow:hidden}.gps-593199058382750631 .gp-break-words{overflow-wrap:break-word}.gps-593199058382750631 .gp-leading-\[0\]{line-height:0}.gps-593199058382750631 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-593199058382750631 .gp-no-underline{text-decoration-line:none}.gps-593199058382750631 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593199058382750631 .gp-duration-200{transition-duration:.2s}.gps-593199058382750631 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593199058382750631 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-593199058382750631 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-593199058382750631 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-593199058382750631 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-593199058382750631 .tablet\:\!gp-relative{position:relative!important}.gps-593199058382750631 .tablet\:\!gp-hidden{display:none!important}.gps-593199058382750631 .tablet\:gp-hidden{display:none}.gps-593199058382750631 .tablet\:gp-justify-center{justify-content:center}.gps-593199058382750631 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-593199058382750631 .mobile\:\!gp-absolute{position:absolute!important}.gps-593199058382750631 .mobile\:\!gp-hidden{display:none!important}.gps-593199058382750631 .mobile\:gp-hidden{display:none}.gps-593199058382750631 .mobile\:\!gp-h-auto{height:auto!important}.gps-593199058382750631 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-593199058382750631 .mobile\:gp-justify-start{justify-content:flex-start}.gps-593199058382750631 .mobile\:\!gp-self-center{align-self:center!important}.gps-593199058382750631 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-593199058382750631 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-593199058382750631 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-593199058382750631 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-593199058382750631 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-593199058382750631 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-593199058382750631 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gREZ2whxzH"}' data-id="gREZ2whxzH" id="gREZ2whxzH" data-same-height-subgrid-container class="gREZ2whxzH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnN98ITb-P gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="g3PsA-cY2s"
        class="g3PsA-cY2s gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_593190859424400175-c2e2e426-9feb-4023-a744-791b6ae0869c.jpg","height":500,"src":"https://cdn.shopify.com/s/files/1/0727/8169/3085/files/Hero_banner-_Style_47_-_Home_Garden_-_Lamp.jpg","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_593190859424400175-c2e2e426-9feb-4023-a744-791b6ae0869c.jpg","height":500,"src":"https://cdn.shopify.com/s/files/1/0727/8169/3085/files/Hero_banner-_Style_47_-_Home_Garden_-_Lamp.jpg","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"image":{"backupFileKey":"gempages_593190859424400175-6b7e8cf6-9d32-4363-8d35-dca4f2378993.png","height":667,"src":"https://cdn.shopify.com/s/files/1/0727/8169/3085/files/Mobile.png","storage":"FILE_CONTENT","width":375},"type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"g3PsA-cY2s","enableParallax":true,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[5,7],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[6,6],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"top"},"contentPosition2Col":{"desktop":"center"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-start" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none">
      <div
        aria-label="Background Image"
        role="banner"
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp_lazybg" style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xNDQwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-mobile:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzc1IiBoZWlnaHQ9IjY2NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzc1LTY2NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzc1IiBoZWlnaHQ9IjY2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzc1IiBoZWlnaHQ9IjY2NyIgZmlsbD0idXJsKCNnLTM3NS02NjcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNzUiIHRvPSIzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Hero_banner-_Style_47_-_Home_Garden_-_Lamp.jpg" | file_url }}" data-src="{{ "Hero_banner-_Style_47_-_Home_Garden_-_Lamp.jpg" | file_url }}" data-srcset="{{ "Hero_banner-_Style_47_-_Home_Garden_-_Lamp.jpg" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Hero_banner-_Style_47_-_Home_Garden_-_Lamp.jpg" | file_url }}" data-src="{{ "Hero_banner-_Style_47_-_Home_Garden_-_Lamp.jpg" | file_url }}" data-srcset="{{ "Hero_banner-_Style_47_-_Home_Garden_-_Lamp.jpg" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Mobile.png" | file_url }}" data-src="{{ "Mobile.png" | file_url }}" data-srcset="{{ "Mobile.png" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb gp_lazyload"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:15px;--pr:15px;--pt:58px;--pb:58px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:21px;--pb-mobile:21px;--cg:32px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1230px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="geGHaosgwc gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gbpYP9LZoo"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:5px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="guvv_BYihI ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="grOqiGsMiT" class="gp-leading-[0] grOqiGsMiT" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="grOqiGsMiT" class="icon-wrapper gp-inline-flex gp-overflow-hidden grOqiGsMiT " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gY6jmdkXF9 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gYAt2ArYqk" class="gp-leading-[0] gYAt2ArYqk" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gYAt2ArYqk" class="icon-wrapper gp-inline-flex gp-overflow-hidden gYAt2ArYqk " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gBnihArpDG ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="glNC6oTkHf" class="gp-leading-[0] glNC6oTkHf" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="glNC6oTkHf" class="icon-wrapper gp-inline-flex gp-overflow-hidden glNC6oTkHf " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gDQyn0Fa2_ ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gEb9TaqaYh" class="gp-leading-[0] gEb9TaqaYh" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gEb9TaqaYh" class="icon-wrapper gp-inline-flex gp-overflow-hidden gEb9TaqaYh " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gh1qPiaUMH ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gg511rqRDP" class="gp-leading-[0] gg511rqRDP" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gg511rqRDP" class="icon-wrapper gp-inline-flex gp-overflow-hidden gg511rqRDP " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIo91H3wE6"}' data-id="gIo91H3wE6" id="gIo91H3wE6" data-same-height-subgrid-container class="gIo91H3wE6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:7px;--cg:0px;--cg-tablet:0px;--cg-mobile:12px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="g-I7VbM7wj gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gw4TyUd-0o"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:5px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gIXXbW5H4G ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gQjAd6jEHP" class="gp-leading-[0] gQjAd6jEHP" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gQjAd6jEHP" class="icon-wrapper gp-inline-flex gp-overflow-hidden gQjAd6jEHP " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gZQ30mRqv8 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gsSgnSx51-" class="gp-leading-[0] gsSgnSx51-" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gsSgnSx51-" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsSgnSx51- " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gj0ZdI5ZEp ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g29auDN-wv" class="gp-leading-[0] g29auDN-wv" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g29auDN-wv" class="icon-wrapper gp-inline-flex gp-overflow-hidden g29auDN-wv " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gCdnHRdejZ ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gAL5rRqgUs" class="gp-leading-[0] gAL5rRqgUs" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gAL5rRqgUs" class="icon-wrapper gp-inline-flex gp-overflow-hidden gAL5rRqgUs " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g6NfG4EqDQ ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gI-8NZE5kw" class="gp-leading-[0] gI-8NZE5kw" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="gI-8NZE5kw" class="icon-wrapper gp-inline-flex gp-overflow-hidden gI-8NZE5kw " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--w-mobile:14px;--h:16px;--h-mobile:14px;--minw:16px;--minw-mobile:14px;--height-desktop:16px;--height-tablet:16px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gidaKT2get gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gteQFlMsM6"
        class="gteQFlMsM6"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763115996026"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggteQFlMsM6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gteQFlMsM6">
        .gteQFlMsM6 {

}
.gteQFlMsM6 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gndw0dKQ7u"
        class="gndw0dKQ7u"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:31px;--mb-tablet:16px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763115996027"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:33px;--size-tablet:30px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#09303F;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggndw0dKQ7u_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gfz_jHMElc"}' data-id="gfz_jHMElc" id="gfz_jHMElc" data-same-height-subgrid-container class="gfz_jHMElc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:12px;--mb-tablet:8px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2tkJ5CcpT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gknAbQ0iZV"}' data-id="gknAbQ0iZV" id="gknAbQ0iZV" data-same-height-subgrid-container class="gknAbQ0iZV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pos:relative;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--pt:1px;--pb:1px;--pt-mobile:0px;--pb-mobile:0px;--top:3px;--cg:8px;--gtc:minmax(0, 12fr);--w:22px;--w-tablet:22px;--w-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g5m3T9l0h- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWawAeCWaO"
        class="gWawAeCWaO"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#242424;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-tablet:0px;--top:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763115996028"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:13px;--size-tablet:13px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWawAeCWaO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gWawAeCWaO">
        .gWawAeCWaO {

}
.gWawAeCWaO p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g7ZMLrgnVv gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqGMZPz9zx"
        class="gqGMZPz9zx"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763115996029"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqGMZPz9zx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gqGMZPz9zx">
        .gqGMZPz9zx {

}
.gqGMZPz9zx p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtW-oHWVdc"}' data-id="gtW-oHWVdc" id="gtW-oHWVdc" data-same-height-subgrid-container class="gtW-oHWVdc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:12px;--mb-tablet:8px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gj-3uFSx3E gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWh10je0fp"}' data-id="gWh10je0fp" id="gWh10je0fp" data-same-height-subgrid-container class="gWh10je0fp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pos:relative;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--pt:1px;--pb:1px;--pt-mobile:0px;--pb-mobile:0px;--top:3px;--cg:8px;--gtc:minmax(0, 12fr);--w:22px;--w-tablet:22px;--w-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZRJgieImh gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_35Hg_e68"
        class="g_35Hg_e68"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#242424;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--top:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763115996031"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:13px;--size-tablet:13px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_35Hg_e68_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g_35Hg_e68">
        .g_35Hg_e68 {

}
.g_35Hg_e68 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g26CP9sJ2d gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggpSbi6IoJ"
        class="ggpSbi6IoJ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763115996032"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggpSbi6IoJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ggpSbi6IoJ">
        .ggpSbi6IoJ {

}
.ggpSbi6IoJ p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gy5HkfQ9kn"}' data-id="gy5HkfQ9kn" id="gy5HkfQ9kn" data-same-height-subgrid-container class="gy5HkfQ9kn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyu0WEsINB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWWC83EVoW"}' data-id="gWWC83EVoW" id="gWWC83EVoW" data-same-height-subgrid-container class="gWWC83EVoW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pos:relative;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--pt:1px;--pb:1px;--pt-mobile:0px;--pb-mobile:0px;--top:3px;--cg:8px;--gtc:minmax(0, 12fr);--w:22px;--w-tablet:22px;--w-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1wu6TTnmA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gv_MK0c2xx"
        class="gv_MK0c2xx"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#242424;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--top:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763115996033"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:13px;--size-tablet:13px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggv_MK0c2xx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gv_MK0c2xx">
        .gv_MK0c2xx {

}
.gv_MK0c2xx p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gPIx1po0UP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYXIkPoFtg"
        class="gYXIkPoFtg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763115996034"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYXIkPoFtg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gYXIkPoFtg">
        .gYXIkPoFtg {

}
.gYXIkPoFtg p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gG_pXc4Oa8"}' data-id="gG_pXc4Oa8" id="gG_pXc4Oa8" data-same-height-subgrid-container class="gG_pXc4Oa8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:48px;--mt-mobile:28px;--mt-tablet:24px;--cg:48px;--cg-tablet:42px;--cg-mobile:42px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gHV-C8uh08 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gN56h-UFv1"
        class="gN56h-UFv1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763115996035"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--size:33px;--size-tablet:30px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#09303F;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggN56h-UFv1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gN56h-UFv1">
        .gN56h-UFv1 {

}
.gN56h-UFv1 p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="g0Xtd-Y8iR gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="g-GokSRsdE"].gp-button-base::before, [data-id="g-GokSRsdE-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="g-GokSRsdE"]:hover::before, [data-id="g-GokSRsdE-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g-GokSRsdE" dataId="g-GokSRsdE" data-state="idle" aria-label="Add to Cart"
          
          type="button"
          style="--w:;--w-tablet:;--w-mobile:;--h:;--h-tablet:;--h-mobile:;--pl:32px;--pr:32px;--pt:12px;--pb:12px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:12px;--pb-mobile:12px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#196581;--bg:#09303F;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal"
          class="g-GokSRsdE gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg-GokSRsdE_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:1;--d-mobile:none"
      class="g2Ur5KqXGC gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Mobile.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzc1IiBoZWlnaHQ9IjY2NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzc1LTY2NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzc1IiBoZWlnaHQ9IjY2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzc1IiBoZWlnaHQ9IjY2NyIgZmlsbD0idXJsKCNnLTM3NS02NjcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zNzUiIHRvPSIzNzUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Hero_banner-_Style_47_-_Home_Garden_-_Lamp.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xNDQwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI1MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtNTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI1MDAiIGZpbGw9InVybCgjZy0xNDQwLTUwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "Hero_banner-_Style_47_-_Home_Garden_-_Lamp.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect-mobile:auto;--d:none;--d-tablet:none;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner gp_lazyload"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-593199058382750631 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yaakuzaa/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=593199005064758183&sectionId=593199058382750631)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggteQFlMsM6_text","label":"ggteQFlMsM6_text","default":"<p>Rated 4.5/5 Based on 895 Reviews</p>"},{"type":"html","id":"ggndw0dKQ7u_text","label":"ggndw0dKQ7u_text","default":"Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry"},{"type":"html","id":"ggWawAeCWaO_text","label":"ggWawAeCWaO_text","default":"<p>1</p>"},{"type":"html","id":"ggqGMZPz9zx_text","label":"ggqGMZPz9zx_text","default":"<p>Lorem ipsum dolor sit amet, consectetur</p>"},{"type":"html","id":"gg_35Hg_e68_text","label":"gg_35Hg_e68_text","default":"<p>2</p>"},{"type":"html","id":"gggpSbi6IoJ_text","label":"gggpSbi6IoJ_text","default":"<p>Lorem ipsum dolor sit amet, consectetur</p>"},{"type":"html","id":"ggv_MK0c2xx_text","label":"ggv_MK0c2xx_text","default":"<p>3</p>"},{"type":"html","id":"ggYXIkPoFtg_text","label":"ggYXIkPoFtg_text","default":"<p>Lorem ipsum dolor sit amet, consectetur</p>"},{"type":"html","id":"ggN56h-UFv1_text","label":"ggN56h-UFv1_text","default":"<p>$105.99</p>"},{"type":"html","id":"gg-GokSRsdE_label","label":"gg-GokSRsdE_label","default":"Add to Cart"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}